* {margin: 0 auto; padding: 0;}

body { background-color: #f1f3f4; font-family: sans-serif;}

.top-nav-bar { height: 57px; 
	top: 0; 
	position: sticky; 
	background: white; 
	margin-bottom: 20px; 
	border-bottom: 3px solid lightgreen; 
	z-index: 2; }

.logo { height: 40px; 
	margin: 5px 10px; }

.form-control { margin-top: 9px; 
	margin-left: 30px; 
	border: 1px solid lightgreen !important; 
	border-top-left-radius: 20px !important; 
	border-bottom-left-radius: 20px !important; 
	border-top-right-radius: 0 !important; 
	border-bottom-right-radius: 0!important ; 
	box-shadow: none; }

.input-group-text { background: lightgreen !important; 
	border: 1px solid lightgreen !important; 
	margin: 8px 10px 3px 0 !important;
	border-top-left-radius: 0 !important; 	
	border-bottom-left-radius: 0 !important; 
	border-top-right-radius: 20px !important; 
	border-bottom-right-radius: 20px !important; 
	cursor: pointer;}

.search-box { display: inline-flex; 
	width: 60%;  }

.fa-search { color: white; }

.menu-bar { width: 40%; height: 57px; float: right; }

.menu-bar ul { display: inline-flex; float: right; }

.menu-bar ul li { border-left: 1px solid white;
list-style-type: none; 
padding: 15px 35px;
text-align: center;
background-color: lightgreen;
cursor: pointer;
}

.menu-bar ul li a { font-size: 16px;
font-weight: bold;
color: white;
text-decoration: none;
}

/*.fa-shopping-basket { margin-right: 5px;}*/

@media only screen and (max-width: 980px){

	.top-nav-bar{
		height: 118px;
		border-bottom: 0;
	}

	.search-box{
		width: 100%;
	}
	.menu-bar{
		width: 100%;
	}

	.menu-bar ul{
		margin: 10px 0;
		width: 100%;
	}

	.menu-bar ul li{
		height: 57px;
		width: 100%;
	}

}

.carousel-item {height: 550px;}

.carousel-caption { background: rgba(0,0,0,0.5); border-radius: 5px;}

#vendas { background: white; margin-top: 10px; margin-bottom: 10px;}

#populares { background: lightgreen; }

#populares h2 {width: 400px;}

#populares .card { width: 200px; float: left; margin: 10px; border-radius: 50%;}

#populares .card h3 { text-decoration: none; color: black; }

#populares h2 { width: 400px; }

#populares a img { width: 90px; margin: 10px; border-radius: 50px;}

#rodape { height: 370px; background: #ccc;}

.card { width: 250px; float: left; margin: 10px;}

#menurodape { list-style-type: none;}

#rodape img { width: 100px; }

#rodape a img { text-decoration: none; width: 50px; }